
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Aqui define quanto value 1rem
    font-size: 62.5%; // = 10px; Padrão do navegador é 16px. 
}

body {
    box-sizing: border-box;
}

