body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    color: $color-grey-dark;
    padding: 3rem;
    line-height: 1.7;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;

        /*Correção para animação flicando no fim*/
        backface-visibility: hidden;

        /*
            animation-delay
            animation-iteration-count
            animation-timing-function
        */

    } &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;

        animation:  moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;

    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;

    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    letter-spacing: .05rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}