<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    
    <!-- Importado no main.js
      <link rel="stylesheet" href="../src/css/style.css">
    -->
    <!--<link rel="stylesheet" href="../src/css/icon-font.css">-->
    <!--<link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>src/assets/favicon.png">-->
    <!--<link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
    
    <title>Natours | Exciting tours for adventurous people</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but natours doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>